.container {
  color: #fff;
}

.image {
  display: block;
  max-height: 100px;
  width: auto;
  margin: 10px auto;
  line-height: 0;
}

@media only screen and (max-width: 500px) {
  .image {
    max-height: 80px;
  }
}
