.container {
  display: inline-block;
  margin: 10px 0;
  font-family: 'proxima-nova', 'Open Sans', sans-serif;
  font-size: 1.5rem;
  color: #9EABB3;
  width: 100%;
}

.container a {
  color: #9EABB3;
  text-decoration: none;
}

.container a:hover {
  text-decoration: underline;
}
