<div class="search-drawer">
  <h5 class="seach-title">
    <span id="search-close" class="glyphicon glyphicon-remove"></span>Search:
  </h5>
  <form class="search-form">
    <input id="search-field" type="search" class="search-box">
  </form>
  <div class="search-loading">
    <i class="glyphicon glyphicon-flash state-flashing"></i>
  </div>
  <div id="search-results" class="search-results"></div>
</div>
